body {
  text-align: center;
  background-color: #e3ebea;
}

.parent-container {
  background-color: antiquewhite;
  text-align: center;
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.parent-container p {
  position: relative;
  top: 10px;
  margin-bottom: 45px;
  font-family: "Lucida Console", "Courier New", monospace;
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.parent-container input {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 5px;
}

#describe {
  height: 50px;
  width: 300px;
}

#button1 {
  margin-top: 30px;
  background-color: #f9f9f9;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 75px;
  width: 500px;
}
